/* 색상  */
:root {
  --main-white: #fdfdfd;
  --main-black: #2d2d2d;
  --main-red: #dc2626;

  --admin-theme: #FF8C00;
  --main-theme: #ff4f00;
  --food-theme: #FF8C00;
  --people-theme: #00B493;
  --living-theme: #B500F9;
  --tech-theme: #008FFF;
  --culture-theme: #C4FF00;

  --gnb-el: calc((100vh - 70px) / 4);
  --header-height: 6em;
}

/* reset.css */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  font-family: var(--font-pretendard);
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  min-height: 100vh;
  background-color: #fff;
  color: #111;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  margin: 0;
  padding: 0;
  background: none;
  border: solid 1px var(--main-black);
  outline: none;
  color: inherit;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

code,
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

:focus-visible {
  outline: 0.2rem solid #4A90E2;
  outline-offset: 0.2rem;
}

.content_wrapper {
  padding-top: var(--header-height);
}

.content_wrapper .content {
  max-width: 1200px;
	margin: 0 auto;
}