.user_box {
    position: relative;
}

.user_box input {
    width: 100%;
    padding: 1rem 0;
    font-size: 1.6rem;
    color: var(--main-white);
    margin-bottom: 3rem;
    border: none;
    border-bottom: 0.1rem solid var(--main-white);
    outline: none;
    background: transparent;
}

.user_box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem 0;
    font-size: 1.6rem;
    color: var(--main-white);
    pointer-events: none;
    transition: .5s;
}

.user_box input:focus~label,
.user_box.touched input:valid~label,
.user_box.touched input:invalid~label {
    top: -2rem;
    left: 0;
    color: var(--admin-theme);
    font-size: 1.2rem;
}

.user_box.touched input:invalid~label {
    color: red;
}