.copy_button_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.copy_button {
    width: 70px;
    height: 70px;
    cursor: pointer;
    transition: transform 0.2s ease;
    background-color: rgb(255, 247, 237);
    border-radius: 50%;
    padding: 10px;
    box-sizing:border-box;
  }
  
  .copy_button:hover {
    transform: scale(1.25);
  }
  
  .copy_button:active {
    transform: scale(1);
  }
  
  .icon {
    stroke: #93c5fd;
    fill: none;
  }

  헤럴드 로이드

  무성 코미디 영화 배우라고 하면 누가 떠오르는가?
  보통 찰리 채플린(Charlie Chaplin)을 제일 먼저 떠올릴 것이다.
  다음으로 버스터 키튼(Buster Keaton)을 떠올리는 사람도 있을 것이다.
  하지만 사람들이 잘 모르는 또 다른 인물이 한명 더 있다.
  무성 코미디의 전성기를 함께 만든 또 다른 스타,
  해럴드 로이드(Harold Lloyd)가 있다.

  안경을 쓴 채 시계탑에 매달린 남자, 해럴드 로이드를 못 들어봤다면 그럴 수 있다.

  1893년 미국, 네브라스카에서 태어난 해럴드 로이드는 12세에 오마하의 버우드 극단(Burwood Stock company)에서 「더버빌가의 테스(Tess of the d'Urbervilles)」의 '리틀 에이브(Little Abe)' 역할로 무대에 데뷔했다.
  1913년 샌디에이고로 이사했고 디에이고의 드라마 예술학교(School of Dramatic Art)에서 연기 수업을 받았다.

  그러다 토마스 에디슨의 영화회사(MPPC)에서 단역으로 출연하였고 1915년 자신의 인생에 가장 큰 영향을 준 인물인 할 로치(Hal Roach)를 처음 만나게 된다. 할 로치는 제작자, 해럴드 로이드는 주연으로 동업을 하게 되었는데 

  간단 소개
      - 출생 및 유년생활
      - 데뷔부터 유명해진 과정
      - 시그니처 안경(채플린은 콧수염)

  스타일
      - 특징
      - 찰리, 버스터와 비교 

  영향력
      - 영향받은 사람, 작품
      - 후대평가
      - 사업가(다른 배우는 어떻게 저작권을 관리했을까?)