.postlist_wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-auto-rows: 200px; */
    /* 각 행 높이 */
    grid-auto-rows: 400px;
    gap: 28px;
    /* 빈 칸을 가능한 아이템으로 채움 */
    grid-auto-flow: row dense;
}

.postlist_wrap.variant_main>*:nth-child(7n+1) {
    grid-column: 1 / span 2;
    grid-row: span 2;
}

.postlist_wrap.variant_main>*:nth-child(7n) {
    grid-column: 3 / span 2;
    grid-row: span 2;
}

.postlist_wrap li.content_box {
    position: relative;
    opacity: 0;
    transform: translateY(30px) scale(0.98);
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.35s cubic-bezier(.4, 0, .2, 1);
    box-shadow: inset 0 0 0 1px rgba(255,255,255,0.2), 0 2px 8px rgba(0,0,0,0.05);
}

.postlist_wrap li.active {
    opacity: 1;
    transform: translateY(0) scale(1);
}

.swiperContainer .postlist_wrap a,
.postlist_wrap li a {
    display: block;
    width: 100%;
    height: 100%;
}

.swiperContainer .postlist_wrap a .thumbnailWrapper,
.postlist_wrap li .thumbnailWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.swiperContainer .postlist_wrap a .post_thumbnail,
.postlist_wrap li a .post_thumbnail {
    object-fit: cover;
    transition: all 0.35s cubic-bezier(.4, 0, .2, 1);
}

.swiperContainer .postlist_wrap a:hover .post_thumbnail,
.postlist_wrap li:hover a .post_thumbnail {
    transform: scale(1.07);
    filter: brightness(0.85);
}

.swiperContainer .postlist_wrap .post_list,
.postlist_wrap .post_list {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 18px 16px 18px;
    transition: transform 0.3s ease;

    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.6) 100%); */
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
}

.swiperContainer .postlist_wrap a:hover .post_list,
.postlist_wrap li:hover .post_list {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.6) 100%);
}

.postlist_wrap .post_list .list_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.postlist_wrap .post_list .list_top > p {
    flex: 1;
}

.postlist_wrap .post_list .list_top .list_category {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.postlist_wrap .post_list .list_top .list_category + p {
    text-align: right;
}

.postlist_wrap .post_list .list_title {
    margin-top: 6px;
    font-size: 22px;
    font-weight: 700;
    width: 100%;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.postlist_wrap .post_list .list_subtitle {
    margin-top: 4px;
    font-size: 15px;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.swiperContainer {
    position: relative;
    margin-top: 20px;
}


.postlist_wrap .thumbnailWrapper .post_thumbnail {
    object-fit: cover;
    transition: transform 0.3s cubic-bezier(.4, 0, .2, 1);
}

.swiperContainer .postlist_wrap {
    display: block;
    height: 300px;
}

.swiperContainer .postlist_wrap a {
    display: block;
    width: 100%;
}

.swiperContainer .postlist_wrap .post_list {
    padding: 10px;
}

.swiperContainer .post_list .list_title {
    font-size: 18px;
    -webkit-line-clamp: 1;
}

/* 좌우 버튼 공통 */
.swiperContainer :global(.swiper-button-next),
.swiperContainer :global(.swiper-button-prev) {
    width: 3rem;
    height: 3rem;
    background: rgba(30, 32, 38, 0.7);
    border-radius: 50%;
    color: #fff;
    /* 화살표 색 */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .2s;
}

.swiperContainer :global(.swiper-button-next:after),
.swiperContainer :global(.swiper-button-prev:after) {
    font-size: 1.5rem;
}

/* 호버 시 */
.swiperContainer :global(.swiper-button-next:hover),
.swiperContainer :global(.swiper-button-prev:hover) {
    background-color: rgba(0, 0, 0);
}

@media (max-width: 1024px) {
    .postlist_wrap {
        grid-template-columns: repeat(3, 1fr);
        gap: 18px;
    }

    .postlist_wrap.variant_main>*:nth-child(5n+1) {
        grid-column: 1 / span 2;
    }
}

@media (max-width: 768px) {
    .postlist_wrap {
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
    }

    .postlist_wrap.variant_main>* {
        grid-column: span 1;
        grid-row: span 1;
    }

    .postlist_wrap .post_list .list_top .list_category {
        font-size: 13px;
    }

    .postlist_wrap .post_list .list_title {
        font-size: 16px;
        -webkit-line-clamp: 1;
    }

    .postlist_wrap .post_list .list_subtitle {
        font-size: 12px;
    }
}

@media (max-width: 600px) {
    .postlist_wrap {
        grid-template-columns: repeat(1, 1fr);
        /* grid-auto-rows: 340px; */
        gap: 0;
    }

    .postlist_wrap.variant_main>* {
        grid-column: span 1;
        grid-row: span 1;
    }

    .postlist_wrap.variant_main>*:nth-child(5n+1) {
        grid-column: span 1;
        grid-row: span 1;
    }

    .content_box+.content_box {
        margin-top: 24px;
    }

    .postlist_wrap .post_list .list_top .list_category {
        font-size: 12px;
    }

    .postlist_wrap .post_list .list_title {
        font-size: 14px;
        -webkit-line-clamp: 1;
    }

    .postlist_wrap .post_list .list_subtitle {
        font-size: 11px;
    }
}