.postlist_wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-auto-rows: 200px; */
    /* 각 행 높이 */
    grid-auto-rows: 400px;
    gap: 20px;
    /* 빈 칸을 가능한 아이템으로 채움 */
    grid-auto-flow: row dense;
}

.postlist_wrap.variant_main>*:nth-child(10n+1) {
    grid-column: 1 / span 2;
    grid-row: span 2;
}

.postlist_wrap.variant_main>*:nth-child(10n) {
    grid-column: 3 / span 2;
    grid-row: span 2;
}

.postlist_wrap li {
    position: relative;
    overflow: hidden;
}

.postlist_wrap li a {
    display: block;
    width: 100%;
    height: 100%;
}

.postlist_wrap li .thumbnailWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.postlist_wrap li a .post_thumbnail {
    object-fit: cover;
    transition: transform 0.3s ease;
}


.postlist_wrap li:hover a .post_thumbnail {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.postlist_wrap .post_list {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    transition: transform 0.3s ease;

    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.6) 100%); */
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
}

.postlist_wrap li:hover .post_list {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.6) 100%);
    transition: transform 0.3s ease;
}

.postlist_wrap .post_list .list_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.postlist_wrap .post_list .list_top .list_category {
    font-size: 20px;
}

.postlist_wrap .post_list .list_title {
    margin-top: 10px;
    font-size: 24px;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.postlist_wrap .post_list .list_subtitle {
    margin-top: 5px;
    font-size: 16px;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.swiperContainer {
    margin-top: 20px;
}

.postlist_wrap .thumbnailWrapper .post_thumbnail {
    object-fit: cover;
    transition: transform 0.3s ease;
}

.swiperContainer .postlist_wrap {
    height: 300px;
}

.swiperContainer .post_list .list_title {
    font-size: 20px;
    -webkit-line-clamp: 1;
}

.noPosts {
    width: 100%;
    padding: 50px 20px;
    font-size: 18px;
    text-align: center;
}

@media (max-width: 1024px) {
    .postlist_wrap {
        grid-template-columns: repeat(3, 1fr);
    }

    .postlist_wrap.variant_main>*:nth-child(5n+1) {
        grid-column: 1 / span 2;
    }
}

@media (max-width: 768px) {
    .postlist_wrap {
        grid-template-columns: repeat(2, 1fr);
    }

    .postlist_wrap.variant_main>* {
        grid-column: span 1;
        grid-row: span 1;
    }
}

@media (max-width: 600px) {
    .postlist_wrap {
        grid-template-columns: repeat(1, 1fr);
    }

    .postlist_wrap.variant_main>* {
        grid-column: span 1;
        grid-row: span 1;
    }
}