.postlist_wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 200px;
    /* 각 행 높이 */
    gap: 16px;
    /* 그리드 간격 */
    grid-auto-flow: dense;
    /* 빈 칸을 가능한 아이템으로 채움 */
}

.postlist_wrap li {
    position: relative;
    border: 1px solid #000;
}

.postlist_wrap li a {
    display: block;
    width: 100%;
    height: 100%;
}

.postlist_wrap .post_list {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}