.postlist_wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 200px;
    /* grid-auto-rows: 400px; */
    /* 각 행 높이 */
    gap: 16px;
    /* 그리드 간격 */
    grid-auto-flow: dense;
    /* 빈 칸을 가능한 아이템으로 채움 */
}

.postlist_wrap.variant_main>*:nth-child(5n+1) {
    grid-column: 1/span 2;
    grid-row: 1/span 2;
}

.postlist_wrap.variant_main>*:nth-child(5n) {
    grid-column: 3 / span 2;
    grid-row: 1 / span 2;
}

.postlist_wrap li {
    position: relative;
    overflow: hidden;
}

.postlist_wrap li:hover a .post_thumbnail {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.postlist_wrap li a {
    display: block;
    width: 100%;
    height: 100%;
}

.postlist_wrap li a .post_thumbnail {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.postlist_wrap .post_list {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}