.editor_skeletonWrap {
    position: relative;
    width: 100%;
    background-color: #e3e3e3;
    padding: 10px;
    overflow: hidden;
}

.editor_skeletonWrap::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(110deg, rgba(227, 227, 227, 0) 0%, rgba(227, 227, 227, 0) 40%, rgba(227, 227, 227, 0.5) 50%, rgba(227, 227, 227, 0) 60%, rgba(227, 227, 227, 0) 100%);
    animation: gradient-animation 1.2s linear infinite;
}

.editor_skeletonHead {
    width: 150px;
    height: 30px;
    background-color: #cacaca;
}

.skeletonWrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}

.skeletonWrap > .editor_skeletonTxtWrap {
    width: 100%;
}

.skeletonWrap > .editor_skeletonTxtWrap .editor_skeletonLine + .editor_skeletonLine {
    margin-top: 10px;
}

.editor_skeletonLine {
    width: 100%;
    height: 25px;
    background-color: #cacaca;
}

.editor_skeletonImg {
    width: 100px;
    height: 130px;
    background-color: #cacaca;
}

@keyframes gradient-animation {
    0% {
      transform: translateX(-100%);
    }
  
    100% {
      transform: translateX(100%);
    }
  }
