.postlist_wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-auto-rows: 200px; */
    /* 각 행 높이 */
    grid-auto-rows: 400px;
    gap: 20px;
    /* 빈 칸을 가능한 아이템으로 채움 */
    grid-auto-flow: row dense;
}

.postlist_wrap.variant_main>*:nth-child(10n+1) {
    grid-column: 1 / span 2;
    grid-row: span 2;
}

.postlist_wrap.variant_main>*:nth-child(10n) {
    grid-column: 3 / span 2;
    grid-row: span 2;
}

.postlist_wrap li {
    position: relative;
    overflow: hidden;
    background-color: #cacaca;
}

.postlist_wrap .skeletonCard {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: #e3e3e3;
}

.postlist_wrap .skeletonCard:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(110deg, rgba(227, 227, 227, 0) 0%, rgba(227, 227, 227, 0) 40%, rgba(227, 227, 227, 0.5) 50%, rgba(227, 227, 227, 0) 60%, rgba(227, 227, 227, 0) 100%);
    animation: gradient-animation_2 1.2s linear infinite;
}

.postlist_wrap .skeletonWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 10px;
}

.postlist_wrap .skeletonLine {
    height: 40px;
    width: 100%;
    background-color: #cacaca;
}

.postlist_wrap .skeletonLine + .skeletonLine {
    margin-top: 10px;
}

.postlist_wrap .skeletonWrap .skeletonLine {
    height: 30px;
    width: 20%;
    margin: 0;
}

.swiperContainer {
    position: relative;
    margin-top: 20px;
}

.swiperContainer .postlist_wrap {
    height: 300px;
    background-color: #cacaca;
}

@keyframes gradient-animation_2 {
    0% {
      transform: translateX(-100%);
    }
  
    100% {
      transform: translateX(100%);
    }
  }

@media (max-width: 1024px) {
    .postlist_wrap {
        grid-template-columns: repeat(3, 1fr);
    }

    .postlist_wrap.variant_main>*:nth-child(5n+1) {
        grid-column: 1 / span 2;
    }
}

@media (max-width: 768px) {
    .postlist_wrap {
        grid-template-columns: repeat(2, 1fr);
    }

    .postlist_wrap.variant_main>* {
        grid-column: span 1;
        grid-row: span 1;
    }
}

@media (max-width: 600px) {
    .postlist_wrap {
        grid-template-columns: repeat(1, 1fr);
    }

    .postlist_wrap.variant_main>* {
        grid-column: span 1;
        grid-row: span 1;
    }
}