.noAccess {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100vw;
    height: 100vh;
    background-color: antiquewhite;
}

.noti {
    font-size: 40px;
    font-weight: 700;
}