.gnb_wrap {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--main-white);
    z-index: 9;
}

.gnb_wrap>ul.depth1 {
    position: relative;
    list-style: none;
    margin: 7rem 0 0;
    padding: 0;
    height: 100%;
}

.gnb_wrap>ul>li {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
}

.gnb_wrap>ul.depth1>li:nth-child(1) {
    background: var(--food-theme);
    top: calc(100vh - 790px);
}

.gnb_wrap>ul.depth1>li:nth-child(2) {
    background: var(--culture-theme);
    bottom: 524px;
    top: calc(100vh - 670px);
}

.gnb_wrap>ul.depth1>li:nth-child(3) {
    background: var(--tech-theme);
    top: calc(100vh - 560px);
}

.gnb_wrap>ul.depth1>li:nth-child(4) {
    background: var(--living-theme);
    top: calc(100vh - 440px);
}

.gnb_wrap>ul.depth1>li:nth-child(5) {
    background: var(--people-theme);
    top: calc(100vh - 320px);
}

.gnb_wrap>ul.depth1>li:nth-child(6) {
    background: var(--main-theme);
    top: calc(100vh - 200px);
}

.gnb_wrap>ul.depth1>li>a,
.gnb_wrap>ul.depth1>li>span {
    position: absolute;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);
    font-size: 12.8rem;
    font-weight: bold;
    line-height: 12.8rem;
    color: var(--main-black);
}

.gnb_wrap>ul.depth1>li>a {
    display: block;
}

.gnb_wrap>ul.depth1>li>ul.depth2 {
    display: none;
    list-style: none;
    margin: 0;
    padding: 1rem 0;
    box-sizing: border-box;
    background: inherit;
}

.gnb_wrap>ul.depth1>li>ul.depth2>li {
    display: inline-block;
    margin: 0 1.5rem;
    font-size: 1.2rem;
    color: #000;
}