.gnb_wrap {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--main-white);
    z-index: 9;
}

.gnb_wrap>ul.depth1 {
    position: relative;
    list-style: none;
    margin: 7rem 0 0;
    padding: 0;
    height: 100%;
}

.gnb_wrap>ul>li {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
}

.gnb_wrap>ul.depth1>li:nth-child(1) {
    background: var(--food-theme);
    top: calc(100vh - 790px);
}

.gnb_wrap>ul.depth1>li:nth-child(2) {
    background: var(--culture-theme);
    bottom: 524px;
    top: calc(100vh - 670px);
}

.gnb_wrap>ul.depth1>li:nth-child(3) {
    background: var(--tech-theme);
    top: calc(100vh - 560px);
}

.gnb_wrap>ul.depth1>li:nth-child(4) {
    background: var(--living-theme);
    top: calc(100vh - 440px);
}

.gnb_wrap>ul.depth1>li:nth-child(5) {
    background: var(--people-theme);
    top: calc(100vh - 320px);
}

.gnb_wrap>ul.depth1>li:nth-child(6) {
    background: var(--main-theme);
    top: calc(100vh - 200px);
}

.gnb_wrap>ul.depth1>li>a,
.gnb_wrap>ul.depth1>li>span {
    position: absolute;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);
    font-size: 12.8rem;
    font-weight: bold;
    line-height: 12.8rem;
    color: var(--main-black);
}

.gnb_wrap>ul.depth1>li>a {
    display: block;
}

.gnb_wrap>ul.depth1>li>ul.depth2 {
    display: none;
    list-style: none;
    margin: 0;
    padding: 1rem 0;
    box-sizing: border-box;
    background: inherit;
}

.gnb_wrap>ul.depth1>li>ul.depth2>li {
    display: inline-block;
    margin: 0 1.5rem;
    font-size: 1.2rem;
    color: #000;
}



/* 
1. 헤네시, 이름만 들어도 멋있어

	헤네시(Hennessy).
	위스키나 브랜디 등 독한 술을 즐기지 않아도 한번쯤 들어봤을 이름이다.
	또는 해외힙합을 즐겨듣는다면 들어봤을 수도 있다.

	꾜냑 생산량의 40%를 차지하여 많은 이들에게 사랑받은 헤네시는 1765년에 설립되어 오랜 역사를 가졌지만 여전히 트렌디하다.
	금장 로고, 황금빛 컬러라벨로 고급스러운 분위기을 가졌지만 다양한 아티스트, 스트릿 컬처와 협업으로 다양한 매력을 보여준다.

	‘오래된 것’이 ‘새로운 것’이 되는 순간.
	그게 바로 헤네시가 멋진 이유 중 하나다.


	2. 아일랜드 청년의 프랑스 꼬냑 도전기

	프랑스에서 오스트리아 왕위 계승전쟁에 참여해 싸워 이기고 돌아온 리차드 헤네시(Richard Hennessy)는 1765년 프랑스 꼬냑 지방에서 꼬냑 증류소를 지으며 헤네시의 역사가 시작되었다.

	리차드 헤네시는 아일랜드 출신으로 1740년 영국의 억압을 피해 프랑스로 망명했으며 군에 입대해 군복무를 했다. 이때 리차드 헤네시는 수수료를 받고 브랜디 통을 아일랜드로 보내는 부업을 했고 이는 나중에 헤네시를 설립하는데 좋은 경험이 되었다. 전역 후 꼬냑 지방에 증류소를 차렸으며 그의 아들 제임스 헤네시가 물려받으며 1840년대부터 세계 최대 꼬냑 수출회사로 성장해 현재까지 그 지위를 잃지 않고 있다.

	3. VS? XO? 이름 뒤 알파벳의 비밀

	헤네시에는 병 모양도 다르고 병에 적힌 영어도 다르다.
	이는 숙성 기간에 따른 등급을 나타낸 것인데 일반 위스키는 년수로 나타낸 것을 브랜디는 영어로 표현했다.

	등급은 아래와 같다.

	* VS (Very Special)
	- 최소 2년 이상 숙성
	- 칵테일 베이스로 많이 사용
	- 한국에서 구하기 힘들다.

	* VSOP(Very Superior Old Pale)
	- 최소 4년 이상 숙성
	- 영국 국왕 조지4세를 위해 만든 술
	- 입문용으로 추천

	* X.O (Extra Old)
	- 최소 10년 이상 숙성
	- 더욱 깊고 고급스러운 맛

	* XXO (Extra Extra Old)
	- 최소 14년 이상 숙성
	- 초고가 프레스티지 라인업
	- 공식적인 등급은 아닌 하이엔드 브랜드에서 마케팅적으로 만든 등급


	헤네시는 1865년 꼬냑 품질을 구분하기 위해 이 등급을 도입했는데 이는 꼬냑 숙성 연도를 지칭하는 표준이되었다.

	위 세가지 등급 외에도 꼬냑에는 나폴레옹(Napoléon)이라는 등급도 있지만 XXO와 같이 꼬냑 협회의 공식 등급은 아니다.

	4. 전통인데 힙해, 어떻게 그럴 수 있지?

	보통 전통적인 술 브랜드들은 다가가기 힘들고 귀족적인 이미지가 있다.
	하지만 헤네시는 그러한 분위기를 가지면서도 한편으로는 힙한 느낌을 가지고 있다.

	이런 분위기를 가진데는 헤네시가 전통과 현대의 균형을 추구하는데 있다.
	오랜 유산을 강조함과 동시에 현대 컨템퍼러리 문화와 많은 접점을 통해 젊고 역동적인 이미지도 함께 구축한다.

	헤네시는 250년의 역사로 주류 시장에서 확고한 위치를 가져왔다. 수백년 간 축척된 오드비(eaux-de-vie) 원액으로 만들어진 꼬냑은 높은 완성도를 보여주고 이를 바탕으로 프리미엄 전략을 펼치는 등 전통에 뿌리를 둔 장인정신과 품질의 아이덴티티를 가져오고 있다.

	이와 더불어 셰퍼드 페어리, 마크 뉴슨 등 여러 디자이너와 콜라보, NBA와 협업을 통한 캠페인, 헤네시 모델이었던 래퍼 Nas, 88rising 등 아티스트와도 활발한 콜라보를 통해 이미지를 구축해나가고 있다.

	특히 아티스트와 콜라보에서는 힙합 문화에 자연스레 스며든 헤네시의 위치도 한 몫 했는데 Henny라는 애칭으로 과거 힙합과 함께 성장해왔다.
	이런 배경에는 2Pac의 노래 'Hennessy'를 통해 힙합문화에 인기를 끌었다는 설과 더 거슬러 올라가 2차 세계대전 유럽에 파견된 흑인 미군들이 꼬냑의 맛을 잊지 못한 채 미국으로 가져왔다는 말도 있다. 무엇이 진실인지는 모르지만 1950년대에는 헤네시가 미국의 흑인 잡지 Ebony와 Jet에 주류 브랜드로서는 이례적으로 광고를 게재하고, 흑인 모델을 기용하며, 유색인종 직원을 채용하는 등 일찍부터 소수인종 대상 마케팅을 전개했다. 이러한 모습들이 흑인사회에서 호감을 일으켰고 90년대 이후 힙합 문화의 성장과 같이 헤네시의 브랜드도 성장하게 되었다.

	이런 전략으로 헤네시는 전통적 럭셔리 코드와 현대적인 창의성을 잘 융합하여 품격은 유지하면서도 젊은 층에게 어필하는 브랜드 아이덴티티를 구축하고 있다.
*/