.header_wrap {
    position: fixed;
    height: 6rem;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0 3rem;
    transition: transform 0.3s ease;
    background-color: var(--main-black);

    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--main-white);
}

.hide {
    transform: translateY(-100%);
}

.show {
    transform: translateY(0);
}

.button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 3rem;
    width: 4rem;
    height: 3rem;
    transition: .5s ease-in-out;
    cursor: pointer;

    z-index: 10;
    font-size: 0;
}

.button span {
    display: block;
    position: absolute;
    height: 0.5rem;
    width: 100%;
    background: var(--main-white);
    border-radius: 1rem;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.button span:nth-child(1) {
    top: 0rem;
    transform-origin: left center;
}

.button span:nth-child(2) {
    top: 1.5rem;
    transform-origin: left center;
}

.button span:nth-child(3) {
    top: 3rem;
    transform-origin: left center;
}

.button.close span:nth-child(1) {
    transform: rotate(45deg);
    top: -1px;
    left: 0px;
    background-color: var(--main-black);
}

.button.close span:nth-child(2) {
    width: 0%;
    opacity: 0;
    background-color: var(--main-black);
}

.button.close span:nth-child(3) {
    transform: rotate(-45deg);
    top: 27px;
    left: 0px;
    background-color: var(--main-black);
}