.editorModal {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.3);
}

.input_info {
    width: 80%;
    background-color: var(--main-white);
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px 30px;
}