.editorInfo_editor {
    font-size: 2rem;
}

.editorInfo_editor .editor_name {
    font-weight: 700;
    text-decoration: underline;
}

.editorInfo_info {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}

.editorInfo_info img {
    width: auto;
    height: auto;
}

@media (max-width: 768px) {
    .editorInfo_editor {
        font-size: 1.6rem;
    }
}