
.previewWrap {
    position: relative;
    width: 75px;
    height: 50px;
}

.previewWrap button {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 17px;
    height: 17px;
    border-radius: 50% !important;
    padding: 0 !important;
    background-color: var(--main-black);
    color: var(--main-white);
    font-size: 10px;
    text-align: center;
    cursor: pointer;
}

.previewImg {
    object-fit: contain;
}

.noti {
    text-align: right;
    color: var(--main-red);
    margin: 10px 0;
}