.post_page {
    position: relative;
    padding: 6rem 2rem;
}

.post_page::before,
.post_page::after {
    position: absolute;
    content: '';
    width: 5rem;
    height: 100%;
    top: 0;
    bottom: 0;
    background-color: var(--main-black);
}

.post_page::before {
    left: 0;
}

.post_page::after {
    right: 0;
}

.post_article {
    max-width: 90rem;
    width: 100%;
    margin: 0 auto;
}

.post_article section:not(:first-child) {
    position: relative;
    margin-top: 4rem;
    padding-top: 3rem;
}

.post_article section:not(:first-child)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
}

.post_article section.post_recommend::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: var(--main-theme);
}

.post_header {
    text-align: center;
}

.post_category {
    position: relative;
    padding-bottom: 0.5rem;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

.post_category::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
}

.post_title {
    margin-top: 4rem;
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
}

.post_content {
    margin-top: 4rem;
}

.post_content img {
    width: 100%;
    height: auto;
}

.subtitle {
    font-size: 2rem;
    font-weight: 700;
}

.link_copy_btn {
    margin-top: 80px;
}

@media (max-width: 1024px) {

    .post_page::before,
    .post_page::after {
        width: 2rem;
    }

    .post_article {
        padding: 0 2rem;
    }
}

@media (max-width: 600px) {

    .post_page::before,
    .post_page::after {
        content: none;
    }

    .post_article {
        padding: 0rem;
    }
}