.post_page {
    padding: 6rem 2rem 0;
}

.post_article {
    width: 90rem;
    margin: 0 auto;
}

.post_header {
    margin-top: 10rem;
    text-align: center;
}

.post_category {
    position: relative;
    padding-bottom: 0.5rem;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

.post_category::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
}

.post_title {
    margin-top: 4rem;
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
}

.post_content {
    margin-top: 4rem;
}

.post_content img {
    width: 100%;
    height: auto;
}

.post_editor {
    position: relative;
    margin-top: 4rem;
    padding-top: 2rem;
}

.post_editor::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
}