.login_box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, .6);
    border-radius: 1rem;
}

.login_box h1 {
    margin: 0 0 3rem;
    padding: 0;
    color: var(--main-white);
    text-align: center;
}

.btn_login {
    width: 100%;
    font-size: 1.8rem;
    font-weight: 700;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: var(--admin-theme);
    color: var(--main-white);
    cursor: pointer;
    transition: 0.4s ease;
}

.btn_login:hover {
    background-color: var(--main-white);
    color: var(--admin-theme);
}

.txt_wrap {
    margin-top: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.txt_wrap a {
    color: var(--main-white);
    text-decoration: underline;
}

.txt_wrap a:hover {
    color: var(--admin-theme);
}