.main {
	padding: 0 4rem 6rem;
}

.main_page {
	padding: 15rem 0;
}

.main_page_text {
	font-size: 4rem;
}

.feature_wrap {
	display: flex;
	justify-content: flex-end;
}

.feature {
	width: 68%;
}

.logo {
	width: 256px;
	height: auto;
}

.mo {
	display: none;
}

@media (max-width: 768px) {
	.main {
		padding: 6rem 2rem;
	}
	
	.logo {
		width: 150px;
	}
}
@media (max-width: 600px) {
	.main {
		padding: 0rem 2rem;
	}

	.main_page {
		padding: 2rem 0;
	}

	.main_page_text {
		font-size: 2rem;
	}

	.feature_wrap {
		display: flex;
		justify-content: center;
		margin-top: 30px;
	}
	
	.feature {
		width: 100%;
	}

	.logo {
		width: 100px;
	}

	.mo {
		display: block;
	}
}