.main {
	padding: 6rem 4rem;
}

.main_section {
	max-width: 1200px;
	margin: 0 auto;
}

.main_page {
	padding: 20rem 0;
}

.main_page_text {
	width: 50%;
	font-size: 4rem;
}

@media (max-width: 768px) {
	.main {
		padding: 6rem 2rem;
	}
}

/* 같은 이야기를 다양한 화가들이 각자의 방식으로 그린 작품들
	- 같은 주제, 서로 다른 시선

	반쯤 잠긴 사람, 창백한 얼굴 ... (그림설명)
	그러나 다르게 표현한 여러 화가들이 있다.
	오필리아 - 배경(햄릿)
	이런 서사에 매력을 느낀 화가들의 단골 소재가 되었다.

	밀레이의 오필리아
	- 설명

	워터하우스
	들라크루아
	알렉상드르 카바넬

	
https://blog.naver.com/allthat_art/221048731213
https://www.munwhamagazine.co.kr/news/articleView.html?idxno=1253
	------------------------------

1. 도입부

	사랑하는 이로 인해 아버지를 잃고 버드나무 아래 강물 위에 꽃과 함께 스러져간 소녀.
	이 비극적인 이야기를 그림으로 표현한다면, 각자 떠오르는 장면이 있을 것이다.

	화가들은 같은 문학 속 인물이라도 각자 다른 시선과 감각으로 캔버스 위에 풀어낸다.
	햄릿 속 오필리아를 바라본 화가들의 서로 다른 그림을 함께 만나보자.

2. 오필리아에 대한 소개

"개울가에 비스듬히 서서 서리처럼 흰 잎이
거울 같은 수면에 비치는 버드나무가 있는 곳에서.
오필리어는 미나리아재비 쐐기풀, 들국화
그리고 자줏빛 난초로 엮어 만든
희한한 화환을 들고 거기에 나타났다는 거야.
버릇없는 목동들은 상스러운 이름으로 부르지만
정숙한 처녀들은
죽은 사람의 손가락이라고 부르는 꽃도 엮어 만들었단다.
그 화환을 늘어진 버들가지에 걸려고 나무에 올라가던 중에
심술궂은 나뭇가지가 꺾여 화환과 함께 오필리어는
흐느끼는 강물 속에 떨어졌다네. 옷자락은 수면 위에 활짝 퍼져
그 힘으로 잠시 인어처럼 떠 있었는데 그동안 그 애는
옛날 찬송가의 구절구절을 노래했다 하네.
마치 자기의 불행을 모르는 사람처럼.
또는 물에서 태어나 물에 익숙한 생물처럼.
그렇지만 그것도 오래 가지 않고, 옷자락이 물을 머금어 무거워지자
가엾은 그 애의 노래는 물밑 진흙 속으로 빨려 들어갔단다."
- 햄릿 4막 7장

셰익스피어의 희곡 『햄릿』에서 오필리아는 순수함과 비극의 상징이다. 사랑하는 햄릿의 광기와 아버지 폴로니어스의 죽음으로 정신적 혼란에 빠진 그녀는, 결국 강물에 몸을 던져 생을 마감한다. 오필리아의 죽음은 특히 그 비극성과 미학적 요소로 인해 예술가들의 상상력을 자극했고, 이는 회화, 문학, 공연 등 수많은 예술 분야에서 반복적으로 표현되었다.
그 중에서도 존 에버릿 밀레이, 존 윌리엄 워터하우스, 알렉상드르 카바넬은 오필리아의 이미지를 가장 인상적으로 형상화한 예술가로 꼽힌다. 각기 다른 방식으로 그녀의 내면과 운명을 표현한 세 화가의 작품을 비교하며, 오필리아라는 인물이 미술사 속에서 어떻게 다양하게 해석되었는지 살펴보고자 한다.

3. 각 화가의 그림 소개와 비교

- 존 에버릿 밀레이의 『오필리아』 (1852)
밀레이의 작품은 오필리아의 죽음을 매우 사실적이면서도 아름답게 묘사했다. 그녀는 꽃과 식물들로 가득한 물 위에 멍한 표정으로 누워 있으며, 수면 위로 번지는 옷자락과 머리카락이 섬세하게 표현되어 있다. 이는 비극적인 느낌을 줌과 동시에 신비로운 분위기도 자아낸다. 밀레이는 낭만적이면서도 세부적인 자연 묘사로 유명하며, 오필리아의 죽음을 고요한 아름다움 속에 표현했다.

밀레이는 실제 강가에서 라파엘 전파의 전설적인 모델 엘리자베스 시달을 찬물에 띄운 채 수십 시간 동안 그리며 압도적으로 섬세하고 현실적인 묘사를 완성
시달은 감기에 걸려 시달의 아버지가 밀레이에게 보상금을 요구했다는 일화가 있다.


가장 유명한 작품

셰익스피어의 오필리아라는 인물 자체만큼이나 그림 자체가 후대 오필리아 묘사에 중요한 시각적 레퍼런스로 작용했다.
라스에 폰 트리에 감독 멜랑꼴리아에서도 차용

- 존 윌리엄 워터하우스의 『오필리아』 (1894)

워터하우스는 밀레이와 달리 오필리아가 물에 빠지기 직전의 순간을 그렸다. 그녀는 강가에 앉아 슬픈 눈으로 정면을 응시하며 머리카락에 꽃을 꽂고 있다. 이 작품에서는 그녀의 운명을 예고하는 듯한 음울한 분위기와 더불어 감정적으로 깊이 있는 심리 묘사가 돋보인다.

밀레이의 오필리아에 어느 정도 영향을 받았다는 시각

1889년, 1894년, 1910년 세 차례나 그렸다.
사망전 또 다른 오필리아의 그림을 준비했지만 완성하지 못하고 암으로 사망했다.
라파엘 학파의 특유의 ~

타 작품들 보다 비극적인 느낌은 들지 않는다.

샬럿의 여인과 느낌이 비슷

- 알렉상드르 카바넬의 『오필리아』 (1883)
카바넬은 오필리아의 비극적인 감정을 더욱 강조한 작품을 그렸다. 오필리아가 절망에 빠진채 강물에 떨어지는 장면을 나타냈으며, 하늘색 드레스와 창백한 피부를 가진 오필리아에서 오른쪽 숲과 슾지로 갈 수록 어두워지는 대조를 이루며 비극을 표현했다. 카바넬은 오필리아의 내면적 혼란과 죽음 직전의 절박한 감정을 극적으로 나타냈다.

들라크루아의 오필리아에 영향 받음

비교 분석
공통적으로 ~ 들이 있지만 각각 ~
밀레이는 오필리아의 죽음을 낭만적이고 섬세한 자연과 결합하여 비극 속의 아름다움을 표현한 반면, 워터하우스는 오필리아가 죽음의 운명을 직면하는 내면적 갈등과 불안을 담았다. 카바넬은 이 둘과 또 다르게, 극적인 색채와 표현주의적 접근을 통해 그녀의 격렬한 정서를 부각시켰다. 같은 주제를 다룬 세 작품이 각기 다른 감성과 시각으로 오필리아를 재해석했다는 점에서 미술사적으로도 흥미로운 비교 대상이 된다. */