.main {
	padding: 0 4rem 6rem;
}

.main_page {
	padding: 15rem 0;
}

.main_page_text {
	width: 50%;
	font-size: 4rem;
}

@media (max-width: 768px) {
	.main {
		padding: 6rem 2rem;
	}
}
@media (max-width: 600px) {
	.main {
		padding: 0rem 2rem;
	}

	.main_page {
		padding: 1rem 0;
	}

	.main_page_text {
		width: 100%;
		font-size: 2rem;
	}
}